# Игнорируем папку сборки (там тяжелые exe и dll)
build/
.cache/

# Игнорируем настройки VS Code (они у всех свои)
.vscode/

# Игнорируем видеофайлы (не засоряй гитхаб видео!)
*.mp4
*.avi
*.mov
*.mkv

# Системный мусор
.DS_Store
Thumbs.db